.login-page{
    background:#f8fafc;
}

.left-section{
    padding:80px;
}

.brand{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:30px;
}

.recycle-icon{
    font-size:40px;
    color:#2563eb;
}

.brand h2{
    font-size:36px;
    font-weight:700;
}

.left-section h1{
    font-size:56px;
    font-weight:800;
    margin-bottom:20px;
}

.left-section p{
    color:#6b7280;
    font-size:18px;
    line-height:30px;
    margin-bottom:50px;
}

.features{
    display:flex;
    gap:40px;
}

.features h5{
    font-weight:700;
}

.features small{
    color:#6b7280;
}

.login-card{
    width:500px;
    background:white;
    padding:40px;
    border-radius:16px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.login-card h2{
    font-weight:700;
}

.login-card p{
    color:#6b7280;
}
.tabs{
    display:flex;
    margin-bottom:30px;
    border:1px solid #e5e7eb;
    border-radius:10px;
    overflow:hidden;
}

.tabs button{
    flex:1;
    border:none;
    background:#f8fafc;
    padding:12px;
    font-weight:600;
}

.tabs button.active{
    background:white;
    color:#2563eb;
}

.form-control{
    height:48px;
    border-radius:8px;
}

.login-btn{
    width:100%;
    height:48px;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
}

.subtitle{
    margin-bottom:25px;
}