<div class="dashboard">

  <aside class="sidebar">

    <!-- Logo -->
    <div class="logo">
      <span class="logo-icon"> <i class="bi bi-recycle"></i> </span>
      <span class="logo-text">WasteZero</span>
    </div>

    <!-- User -->
    <div class="user-info">

      <div class="avatar">
        {{ authService.getCurrentUser()?.name?.charAt(0) }}
      </div>

      <div>
        <h4>{{ authService.getCurrentUser()?.name }}</h4>

        <span>
          {{ authService.getCurrentUser()?.role | titlecase }}
        </span>
      </div>

    </div>

    <!-- ================= MAIN MENU ================= -->

    <p class="menu-title">
      MAIN MENU
    </p>

    <ul class="menu">

      <li routerLink="/dashboard" routerLinkActive="active">
       <i class="bi bi-grid-fill"></i> <span>Dashboard</span>
      </li>

      @if(authService.getCurrentUser()?.role === 'volunteer'){

        <li>
          <i class="bi bi-calendar"></i> <span>Schedule Pickup</span>
        </li>

        <li>
            <i class="bi bi-award-fill"></i>  <span>My Impact</span>
        </li>

        <li>
          <i class="bi bi-chat-square-text-fill"></i> <span>Messages</span>
        </li>

      }

      @if(authService.getCurrentUser()?.role === 'ngo'){

        <li>
           <i class="bi bi-person-raised-hand"></i> <span>Create Opportunity</span>
        </li>

        <li>
          <i class="bi bi-kanban-fill"></i> <span>Manage Opportunities</span>
        </li>

        <li>
          <i class="bi bi-chat-dots-fill"></i> <span>Messages</span>
        </li>

      }

      @if(authService.getCurrentUser()?.role === 'admin'){

        <li>
           <span>Users</span>
        </li>

        <li>
           <span>Reports</span>
        </li>

        <li>
           <span>Admin Panel</span>
        </li>

      }

    </ul>

    <!-- ================= SETTINGS ================= -->

    <p class="menu-title">
      SETTINGS
    </p>

    <ul class="menu">

      <li routerLink="/profile" routerLinkActive="active">
        <i class="bi bi-person-fill"></i> <span>My Profile</span>
      </li>

      <li>
        <i class="bi bi-gear-fill"></i> <span>Settings</span>
      </li>

      <li>
       <i class="bi bi-question-circle-fill"></i> <span>Help & Support</span>
      </li>

    </ul>

    <!-- ================= DARK MODE ================= -->

    <div class="dark-mode">

      <span> Dark Mode</span>

      <input
        type="checkbox"
        disabled>

    </div>

    <!-- ================= LOGOUT ================= -->

    <button
      class="logout-btn"
      (click)="logout()">

      Sign Out

    </button>

  </aside>

  <!-- ================= CONTENT ================= -->

  <main class="main-content">

    <router-outlet></router-outlet>

  </main>

</div>