<div class="change-password-container">

  <div class="password-card">

    <h2>Change Password 🔒</h2>

    <p>
      Update your account password securely.
    </p>

    <form
      [formGroup]="passwordForm"
      (ngSubmit)="onChangePassword()"
    >

      <!-- Current Password -->

      <div class="form-group">

        <label>Current Password</label>

        <input
          type="password"
          formControlName="currentPassword"
        >

      </div>

      <!-- New Password -->

      <div class="form-group">

        <label>New Password</label>

        <input
          type="password"
          formControlName="newPassword"
        >

        @if (
          passwordForm.get('newPassword')?.touched &&
          passwordForm.get('newPassword')?.hasError('minlength')
        ) {

          <small class="error">

            Password must be at least 6 characters.

          </small>

        }

      </div>

      <!-- Confirm Password -->

      <div class="form-group">

        <label>Confirm Password</label>

        <input
          type="password"
          formControlName="confirmPassword"
        >

        @if (
          passwordForm.hasError('passwordMismatch') &&
          passwordForm.get('confirmPassword')?.touched
        ) {

          <small class="error">

            Passwords do not match.

          </small>

        }

      </div>

      <button type="submit">

        Change Password

      </button>

    </form>

  </div>

</div>